{% extends "user/base.html" %} {% block title %}Thông tin tài khoản{% endblock
%} {% block content %}
<nav class="profile-container">
  <div class="profile-header">
    <div class="profile-avatar">
      <i class="fas fa-user"></i>
    </div>
    <h3>Thông tin tài khoản</h3>
    <div class="action-buttons">
      <a href=" {{ url_for('user.profile' )}}">
        <i class="fa-regular fa-address-card"></i>Xem thông tin
      </a>
      <a href=" {{ url_for('user.updateProfile') }}">
        <i class="fas fa-edit"></i> Chỉnh sửa thông tin
      </a>

      <a
        href=" {{ url_for('user.changePassword')}}"
        style="
          color: white;
          font-weight: bold;
          font-size: larger;
          transform: none;
        "
      >
        <i class="fas fa-key"></i> Đổi mật khẩu
      </a>
    </div>
  </div>

  <div class="profile-body">
    <form method="POST" action="{{ url_for('user.changePassword') }}">
      <div class="info-group">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <label class="info-label" for="password">Mật khẩu cũ:</label>
        <input
          type="password"
          id="old_password"
          name="old_password"
          placeholder="Nhập mật khẩu..."
          required
        />
      </div>

      <div class="info-group">
        <label class="info-label" for="password">Mật khẩu mới:</label>
        <input
          type="password"
          id="new_password"
          name="new_password"
          placeholder="Nhập mật khẩu mới..."
          required
        />
      </div>
      <div class="info-group">
        <label class="info-label" for="password">Xác nhận mật khẩu mới:</label>
        <input
          type="password"
          id="confirm_password"
          name="confirm_password"
          placeholder="Nhập lại mật khẩu mới..."
          required
        />
      </div>
      <div class="form-footer">
        <button type="submit" class="change-password-btn">
          <i class="fas fa-key"></i> Đổi mật khẩu
        </button>
      </div>
    </form>
  </div>
</nav>
{% endblock %}
