{% extends "user/base.html" %} {% block title %}Cập nhật thông tin{% endblock %}
{% block content %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<link rel="stylesheet" href="/static/css/user.css" />

<nav class="profile-container">
  <div class="profile-header">
    <div class="profile-avatar">
      <i class="fas fa-user"></i>
    </div>
    <h3>Cập nhật thông tin</h3>
    <div class="action-buttons">
      <div class="action-buttons">
        <a href="{{ url_for('user.profile') }}">
          <i class="fa-regular fa-address-card"></i>Xem thông tin
        </a>
        <a
          href=" {{ url_for('user.updateProfile') }}"
          style="
            color: white;
            font-weight: bold;
            font-size: larger;
            transform: none;
          "
        >
          <i class="fas fa-edit"></i> Chỉnh sửa thông tin
        </a>

        <a href=" {{ url_for('user.changePassword') }}">
          <i class="fas fa-key"></i> Đổi mật khẩu
        </a>
      </div>
    </div>
  </div>

  <div class="profile-body">
    <form method="POST" action="{{ url_for('user.updateProfile') }}">
      <div class="info-group">
        <label class="info-label" for="fullname">Họ và tên</label>
        <input
          type="text"
          class="info-value edit-input"
          id="fullname"
          name="fullname"
          value="{{ user.fullname }}"
          required
        />
      </div>

      <div class="info-group">
        <label class="info-label" for="username">Tên đăng nhập</label>
        <input
          type="text"
          class="info-value edit-input"
          id="username"
          name="username"
          value="{{ user.username }}"
          required
        />
        <!-- <small class="text-muted">Không thể thay đổi tên đăng nhập</small> -->
      </div>

      <div class="info-group">
        <label class="info-label" for="age">Tuổi</label>
        <input
          type="number"
          class="info-value edit-input"
          id="age"
          name="age"
          value="{{ user.age }}"
          min="1"
          max="120"
          required
        />
      </div>

      <div class="info-group">
        <label class="info-label" for="email">Email</label>
        <input
          type="email"
          class="info-value edit-input"
          id="email"
          name="email"
          value="{{ user.email }}"
          required
        />
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <div class="form-footer">
        <button type="submit" class="save-btn">
          <i class="fas fa-save"></i> Lưu thay đổi
        </button>
      </div>
    </form>
  </div>
</nav>
{% endblock %}
