<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/user.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <header>
      <a id="main" href="{{ url_for('user.home') }}">
        <i class="fa-solid fa-house"></i>
      </a>

      <div class="genre-wrapper">
        <div class="genre-list" id="visibleGenres">
          {% for category in categories %}
          <a
            href="{{ url_for('user.search', category_id = category.category_id) }}"
            class="genre-item"
            >{{ category.name }}</a
          >
          {% endfor %}
        </div>
        <button class="toggle-btn" onclick="toggleGenres()">
          <i id="toggle-icon" class="fas fa-chevron-down"></i>
        </button>
      </div>
      <form
        class="search-bar"
        method="get"
        action="{{ url_for('user.search') }}"
      >
        <input
          type="text"
          name="keyword"
          placeholder="Tìm kiếm..."
          value="{{ keyword or '' }}"
        />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
      <!-- Thêm vào header hoặc navbar -->
      {% if 'user_id' in session %}
      <div class="user-profile">
        <i class="fas fa-user-circle" id="profileIcon"></i>
        <!-- Menu dropdown thông tin -->
        <div class="user-dropdown" id="dropdownMenu">
          <a href="{{ url_for('user.profile') }}">Thông tin tài khoản</a>
          <a href="{{ url_for('user.library') }}">Danh sách sách đã đọc</a>
          <a href="{{ url_for('auth.logout') }}">Đăng xuất</a>
        </div>
      </div>
      {% else %}
      <nav>
        <a href="{{ url_for('auth.register') }}">Đăng ký</a>
        <a href="{{ url_for('auth.login') }}">Đăng nhập</a>
      </nav>
      {% endif %}
    </header>

    <div class="main-content">
      {% block content %}
      <!-- Tuỳ trang -->
      {% endblock %}
    </div>
    <div class="flash-container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }} flash-message">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
  </body>
</html>
